---
title: "Weaving Weblets | Your Digital Marketing Experts"
maintitle: "Latest Work"
introtext: 
layout: portfolio
---

<section id="home-portfolio" class="full">
	<div class="wrapper">
		
		<div class="port">
			<div class="port-container">
				<div class="port-imac">
					<%= tag :img, :src => "/images/imac.svg", :height => '364px', :width => '431px', :class => 'imac-img' %>
					<div class="inner">
						<%= tag :img, :src => "/images/std-1.png", :height => '248px', :width => '393px', :class => 'imac-img' %>
					</div>
				</div>
				<div class="port-ipad">
					<%= tag :img, :src => "/images/ipad.svg", :height => '237px', :width => '307px', :class => 'ipad-img' %>
					<div class="inner">
						<%= tag :img, :src => "/images/std-1.png", :height => '186px', :width => '249px', :class => 'imac-img' %>
					</div>
				</div>
				<div class="port-iphone">
					<%= tag :img, :src => "/images/iphone.svg", :height => '165px', :width => '79px', :class => 'iphone-img' %>
					<div class="inner">
						<%= tag :img, :src => "/images/mobile-1.png", :height => '117px', :width => '66px', :class => 'imac-img' %>
					</div>
				</div>
			</div>
			<div class="port-title">
				<h3>Future Classic</h3>
				<a href="http://futureclassic.com.au" target="_blank">View their website</a>
			</div>
			<div class="port-desc">
			</div>
		</div>

		<div class="port">
			<div class="port-container">
				<div class="port-imac">
					<%= tag :img, :src => "/images/imac.svg", :height => '364px', :width => '431px', :class => 'imac-img' %>
					<div class="inner">
						<%= tag :img, :src => "/images/std-2.jpg", :width => '393px', :class => 'imac-img' %>
					</div>
				</div>
				<div class="port-ipad">
					<%= tag :img, :src => "/images/ipad.svg", :height => '237px', :width => '307px', :class => 'ipad-img' %>
					<div class="inner">
						<%= tag :img, :src => "/images/std-2.jpg", :width => '249px', :class => 'imac-img' %>
					</div>
				</div>
				<div class="port-iphone">
					<%= tag :img, :src => "/images/iphone.svg", :height => '165px', :width => '79px', :class => 'iphone-img' %>
					<div class="inner">
						<%= tag :img, :src => "/images/mob-2.png", :width => '66px', :class => 'imac-img' %>
					</div>
				</div>
			</div>
			<div class="port-title">
				<h3>Akubra Store</h3>
				<a href="http://akubrastore.com.au" target="_blank">View their website</a>
			</div>
			<div class="port-desc">
			</div>
		</div>

		<div class="port">
			<div class="port-container">
				<div class="port-imac">
					<%= tag :img, :src => "/images/imac.svg", :height => '364px', :width => '431px', :class => 'imac-img' %>
					<div class="inner">
						<%= tag :img, :src => "/images/std-3.png", :width => '393px', :class => 'imac-img' %>
					</div>
				</div>
				<div class="port-ipad">
					<%= tag :img, :src => "/images/ipad.svg", :height => '237px', :width => '307px', :class => 'ipad-img' %>
					<div class="inner">
						<%= tag :img, :src => "/images/std-3.png", :width => '249px', :class => 'imac-img' %>
					</div>
				</div>
				<div class="port-iphone">
					<%= tag :img, :src => "/images/iphone.svg", :height => '165px', :width => '79px', :class => 'iphone-img' %>
					<div class="inner">
						<%= tag :img, :src => "/images/mobile-3.png", :width => '66px', :class => 'imac-img' %>
					</div>
				</div>
			</div>
			<div class="port-title">
				<h3>Happy Wheels</h3>
				<a href="http://happywheels.com.au" target="_blank">View their website</a>
			</div>
			<div class="port-desc">
			</div>
			
		</div>

	</div>
</section>